# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node / Vue
node_modules/
dist/
package-lock.json
npm-debug.log*

# Operációs rendszer fájlok
Thumbs.db
desktop.ini
.DS_Store